{% load static %}
<div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Log Out</a>
        <p>Hi, {{ request.user.username }}!</p>
        <form class="search-bar" onsubmit="return executeQuery();">
            <input type="text" id="id_q" class="form-control" name="q" placeholder="Search..."/>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>

<script type="text/javascript">
    function executeQuery(){
        var query = document.getElementById("id_q").value
        window.location.replace("{% url 'search' %}?q=" + query)
        return false
    }
</script>