<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <style>
        body {
            display: flex;
        }

        main {
            max-width: 1300px;
            margin: 0 auto;
        }

        form {
            display: flex;
            flex-direction: column;
        }
    </style>
    <main>
        <form action="">
            <label>
                login
                <input type="text">
            </label>
            <label>
                password
                <input type="password">
            </label>
        </form>

    </main>
</body>

</html>