{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    form {
        display: flex;
        flex-direction: column;
    }
    .error {
        color: red;
    }
</style>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label>
        username
        <input type="text" name="username">
    </label>
    <label>
        password
        <input type="password" name="password">
    </label>
    <div class="error">
        <p>
            {{ errors }}
        </p>
    </div>
    <label>
        <input type="submit" value="Submit">
    </label>
</form>
{% endblock %}