{% extends 'index.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
<style>
    .list {
        display: flex;
        flex-direction: column;
    }

    .item {
        padding: 10px 0;
        border-bottom: 2px solid silver;
    }
</style>
<div class="list">
    {% if rooms %}
    {% for room in rooms %}
    <div class="item">
        <p class="username">{{ room.username }}</p>
        <a href="/room/{{ room.room_id }}">Join room</a>
    </div>
    {% endfor %}
    {% else %}
    <p>You don't have any chats.</p>
    {% endif %}
</div>
{% endblock %}
